@media screen and (min-width: $desktopSize){
    .body{
        &--home{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "nav nav"
            "header header"
            "restaurantArea fonction"
            "footer footer";
            .nav{
                grid-area: nav;
            }
            .header{
                grid-area: header;
            }
            .fonction{
                grid-area: fonction;
            }
            .restaurantArea{
                grid-area: restaurantArea;
            }
            .footer{
                grid-area: footer;
            }
        }
    }
}