@media screen and (min-width: $desktopSizeL){
    .body{
        &--home{
            display: grid;
            grid-template-columns: 1fr 3fr 25rem 1fr;
            grid-template-areas: 
            "nav nav nav nav"
            "header header header header"
            ". restaurantWrapper fonction ."
            "footer footer footer footer";
            .nav{
                grid-area: nav;
                height: 0;
                overflow: hidden ;
            }
            .header{
                grid-area: header;
    
            }
            .fonction{
                grid-area: fonction;
                margin: 5rem 0;
                height: 0;
                overflow: hidden ;
                
            }
            .restaurantWrapper{
                grid-area: restaurantWrapper;
                margin: 5rem 0;
                height: 0;
                overflow: hidden ;
            }
            .footer{
                grid-area: footer;
            }
        }
    }
}