.main{    
    &--restaurant{
        padding: 1rem 1.5rem;
        margin-top: 13rem;
        background-color: darken($w, 5);
        border-radius: 2rem 2rem 0 0;
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -ms-border-radius: 2rem 2rem 0 0;
        -o-border-radius: 2rem 2rem 0 0;
    }
}
.restaurant{
    &_submitArea{
        background-color: darken($w, 5);
    }
    &_submit{
        padding-bottom: 5rem;
        text-align: center;
    }
}