@keyframes open{
    0%{
        opacity: 0;
        width: 100%;
    }
    20%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    99%{
        width: 100%;
    }
    100%{
        opacity: 0;
        width: 0;
    }
}
@keyframes unblur{
    0%{
        filter: blur(0.5rem);
        -webkit-filter: blur(0.5rem);
}
    10%{
        filter: blur(0.7rem);
        -webkit-filter: blur(0.7rem);
}
    30%{
        filter: blur(0.2rem);
        -webkit-filter: blur(0.2rem);
}
    50%{
        filter: blur(0.4rem);
        -webkit-filter: blur(0.4rem);
}
    100%{
        filter: blur(0);
        -webkit-filter: blur(0);
}
}
.body{
    &--home{
        .loaderArea{
            animation: open 5s forwards;
            -webkit-animation: open 5s forwards;
        }
}
   

    &--menu{
        .loaderArea{
            animation: open 2.5s forwards;
            -webkit-animation: open 2.5s forwards;
        }
}


}
.mainWrapper{
    &--home{
        animation: unblur 3s 1s forwards;
        -webkit-animation: unblur 3s 1s forwards;
}
    &--menu{
        animation: unblur 2.5s 0s forwards;
        -webkit-animation: unblur 2.5s 0s forwards;
}
    filter: blur(0.5em);
    -webkit-filter: blur(0.5em);
}
  