.button{
    justify-self: center;
    align-self: center;
    display: inline-block;
    margin: 1.5rem 0;
    padding: 1rem 3rem;
    font-weight: 500;
    background: linear-gradient($secColor, $primColor);
    box-shadow: 0 0.2rem 0.5rem darken($w, 20);
    color: darken($w, 5);
    letter-spacing: 0.025rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}