.dish{
    display: grid;
    grid-template-columns: 1rem auto auto 1rem 0;
    grid-template-areas:
    ". title title . checkArea"
    ". recipe price . checkArea";
    align-items: center;
    height: 5rem;
    margin: 1rem auto;
    max-width: 30rem;
    background-color: $w;
    box-shadow: 0 0.5rem 0.5rem darken($w, 15);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    &_title{
        grid-area: title;
        display: block;
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
    }
    &_recipe{
        grid-area: recipe;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        font-weight: 300;
    }
    &_price{
        grid-area: price;
        justify-self: end;
        font-weight: 600;
        overflow: hidden;
        width: 2rem;
    }
    &_checkArea{
        grid-area: checkArea;
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        background-color: $terColor;
        border-radius: 0 1rem 1rem 0;
        -webkit-border-radius: 0 1rem 1rem 0;
        -moz-border-radius: 0 1rem 1rem 0;
        -ms-border-radius: 0 1rem 1rem 0;
        -o-border-radius: 0 1rem 1rem 0;       
        &_check{
            color: $w;
            font-size: 1.5rem;
        }      
    }
}
@media screen and (min-width: $tabSize){
    .dish{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto 0;
        grid-template-areas:
        "title title"
        "recipe price"
        "checkArea checkArea";
        margin: initial;
        height: 15rem;
        &_title{
            grid-area: title;
            font-size: 2rem;
            font-weight: 100;
        }
        &_recipe{
            grid-area: recipe;
            display: block;
            flex: 1;
            font-weight: 300;
        }
        &_price{
            grid-area: price;
            justify-self: end;
            font-weight: 600;
            overflow: hidden;
            width: 2rem;
        }
        &_checkArea{
            grid-area: checkArea;
            align-self: stretch;
            justify-self: stretch;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-x: hidden;
            width: 100%;
            background-color: $terColor;
            border-radius: 0 1rem 1rem 0;
            -webkit-border-radius: 0 1rem 1rem 0;
            -moz-border-radius: 0 1rem 1rem 0;
            -ms-border-radius: 0 1rem 1rem 0;
            -o-border-radius: 0 1rem 1rem 0;       
            &_check{
                color: $w;
                font-size: 1.5rem;
            }      
        }
    }
}