// breackpoints
$mobileSize: 0px;
$tabSize: 800px;
$desktopSize: 1000px;
$desktopSizeL: 1200px;
$desktopSizeXL: 1400px;
$desktopSizeXXL: 1600px;

// colors
$primColor : #9256dc;
$secColor : #ff79da;
$terColor : #98e2cf;
$w : #ffffff;
$wo : #ffffff00;
$b : #000000;