.dish{
    &_title{
        transition: letter-spacing 0.5s;
        -webkit-transition: letter-spacing 0.5s;
        -moz-transition: letter-spacing 0.5s;
        -ms-transition: letter-spacing 0.5s;
        -o-transition: letter-spacing 0.5s;
}
    &_checkArea{
        &_check{           
            transition: transform 0.5s;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            -ms-transition: transform 0.5s;
            -o-transition: transform 0.5s;
        }       
    }
    &:hover{ 
        grid-template-columns: 1rem auto auto 1rem 5rem; 
        .dish{
            &_checkArea{
                &_check{
                    transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                }
            }
            &_title{
                letter-spacing: -0.05rem;
            }
        }
    }
    transition: grid-template-columns 0.5s;
    -webkit-transition: grid-template-columns 0.5s;
    -moz-transition: grid-template-columns 0.5s;
    -ms-transition: grid-template-columns 0.5s;
    -o-transition: grid-template-columns 0.5s;
}
@media screen and (min-width: $tabSize){
    .menu{
        &_icone{
            &:hover{
                color: $secColor;
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
}
            transition: color 0.2s, transform 0.2s;
            -webkit-transition: color 0.2s, transform 0.2s;
            -moz-transition: color 0.2s, transform 0.2s;
            -ms-transition: color 0.2s, transform 0.2s;
            -o-transition: color 0.2s, transform 0.2s;
}
    }
    .dish{
        &:hover{ 
            grid-template-columns: auto auto;
            grid-template-rows: 50% 20% auto 2rem;
            .dish{
                &_title{
                    letter-spacing: initial;
                }
            }
            transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
}
        transition: grid-template-rows 0.5s , transform 0.3s;
        -webkit-transition: grid-template-rows 0.5s , transform 0.3s;
        -moz-transition: grid-template-rows 0.5s , transform 0.3s;
        -ms-transition: grid-template-rows 0.5s , transform 0.3s;
        -o-transition: grid-template-rows 0.5s , transform 0.3s;
}
}