.footer{
    padding: 1.5rem;
    background-color: lighten($b,25);
    color: $w;
    &_title{
        margin-bottom: 1rem;
        font-family: 'Shrikhand', cursive, 'sans-serif';  
        font-size: 1.2rem;
    }
    &_link{
        display: block;
        margin: 0.5rem 0;
    }
    &_icone{
        margin-right: 0.5rem;
    }
}
@media screen and(min-width: $tabSize){
    .footer{
        margin-top: 3rem;
        &_section{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            & *{
                text-align:center;
                margin: initial;
            }
           
        }
        &_title{
            grid-column: 1/5;
        }
    }
}