.footer{
    padding: 1.5rem;
    background-color: lighten($b,25);
    color: $w;
    &_title{
        margin-bottom: 1rem;
        font-family: 'Shrikhand', cursive, 'sans-serif';  
        font-size: 1.2rem;
    }
    &_link{
        display: block;
        margin: 0.5rem 0;
        position: relative;
        z-index: 1;
        &::after{
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            z-index: -1;
            border-top: 0.2rem solid $terColor;
        }
    }
    &_icone{
        margin-right: 0.5rem;
    }
}
@media screen and(min-width: $tabSize){
    .footer{
        &_section{
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, auto);
            justify-items: center;
            max-width: 50rem;
            margin: 2rem auto;
        }
        &_link{
            margin: initial;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 1.2rem;
        }
        &_title{
            text-align: center;
            grid-column: 1/5;
        }
    }
}
