.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $w;
    &_title{
        font-size: 2rem;
        text-align: center;
        box-shadow: 0 0.1rem 0.5rem darken($w, 25);
        padding: 1rem;
        font-family: 'Shrikhand', cursive, 'sans-serif';        
    }
}