.restaurantArea{
    background-color: darken($w, 5);
    padding: 1.5rem 1.5rem;
    &_title{
        text-align: left;
        margin: 1rem 0;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &_restaurant{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 15rem;
        max-width: 30rem;
        margin: 1rem auto;
        background-color: $w;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 120% auto;
        box-shadow: 0 0.5rem 0.5rem darken($w, 15);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}
.restaurant{
    &_novelty{
        margin: 1rem;
        max-height: 2rem;
        overflow: hidden;
        padding: 0.4rem 0.8rem;
        background-color: $terColor;
        color: darken($terColor, 35);
        font-size: 0.8rem;
        font-weight: 500;
        border-radius: 0.2rem;
        -webkit-border-radius: 0.2rem;
        -moz-border-radius: 0.2rem;
        -ms-border-radius: 0.2rem;
        -o-border-radius: 0.2rem;
        &--hide{
            visibility: hidden;
        }
    }
    &_content{
        display: grid;
        grid-template:
        "title icone"
        "location icone";
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        background-color: $w;
        border-radius:0 0 1rem 1rem;
        -webkit-border-radius:0 0 1rem 1rem;
        -moz-border-radius:0 0 1rem 1rem;
        -ms-border-radius:0 0 1rem 1rem;
        -o-border-radius:0 0 1rem 1rem;
    }
    &_title{
        display: inline-block;
        grid-area: title;
        position: relative;
        z-index: 1;
        padding: 0.3rem;
        font-weight: 600;
        &::before{
            content:'';
            background: $primColor;
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            border-radius: 0.2rem 0.2rem 0 0;
            -webkit-border-radius: 0.2rem 0.2rem 0 0;
            -moz-border-radius: 0.2rem 0.2rem 0 0;
            -ms-border-radius: 0.2rem 0.2rem 0 0;
            -o-border-radius: 0.2rem 0.2rem 0 0;
        }

    }
    &_location{
        display: inline-block;
        grid-area: location;
        position: relative;
        z-index: 1;
        padding: 0.3rem;
        font-weight: 300;
        &::before{
            content:'';
            background: $primColor;
            position: absolute;
            top:0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            border-radius: 0 0 0.2rem 0.2rem;
            -webkit-border-radius: 0 0 0.2rem 0.2rem;
            -moz-border-radius: 0 0 0.2rem 0.2rem;
            -ms-border-radius: 0 0 0.2rem 0.2rem;
            -o-border-radius: 0 0 0.2rem 0.2rem;
}
    }
    &_icone{
        grid-area: icone;
        font-size: 1.2rem;
        &--selected{
            background: linear-gradient($primColor, $secColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $primColor;
        }
    }  
    &_menilmontant{
        background-image: url('../medias/restaurants/melimontant.jpg');
    }
    &_charonne{
        background-image: url('../medias/restaurants/charonne.jpg');
    }
    &_citeRouge{
        background-image: url('../medias/restaurants/citeRouge.jpg');
    }
    &_folieMericourt{
        background-image: url('../medias/restaurants/folieMericourt.jpg');
    }
}
@media screen and (min-width: $tabSize){
    .restaurantArea{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;      
        background-color: $w;
        padding-bottom:  3rem;
        &_title{
            grid-area: 1/1/2/3;
        }
        &_restaurant{
            margin: auto;
        }
    }
}