.fonction{
    padding: 1.5rem 1.5rem;
    &_title{
        text-align: left;
        margin: 1rem 0 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &_info{
        display: flex;
        align-items: center;
        max-width: 30rem;     
        padding: 1.3rem 1rem 1.3rem 2rem;
        position: relative;
        margin: 1rem auto;
        background-color: darken($w, 5);
        border-radius: 1rem;
        box-shadow: 0 0.5rem 0.5rem darken($w, 15);      
        &_number{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 1.5rem;
            width: 1.5rem;
            position: absolute;
            left: -0.8rem;
            top: 1rem;
            background-color: $primColor;
            color: $w;
            font-size: 0.8rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        &_title{
            display: flex;
            align-items: center;
            flex-direction: row;
            font-weight: 600;
        }
        &_icone{
            color: lighten($b, 40);
            font-size: 1.3rem;
            margin-right: 2rem;
        }
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}
@media screen and (min-width: $desktopSize) and (max-width: $desktopSizeL){
    .fonction{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2rem;
        &_info{
            max-width: initial;
        }
        &_title{
           grid-column: 1/4; 
        }
    }
   
}