.nav{
    &--menu{
        display: grid;
        grid-template-areas: 
        "icone title .";
    }
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $w;
    box-shadow: 0 0 0.5rem lighten($b, 20);
    &_title{
        grid-area: title;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;       
        font-family: 'Shrikhand', cursive, 'sans-serif';        
    }
    &_icone{
        &_link{
            grid-area: icone;
            align-self: center;
        }  
        font-size: 1.5rem; 
        margin-left: 1rem;
    }
}