// Menu global
.menu{
    &_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 40rem;
        margin: 0 auto;
        font-family: 'Shrikhand', cursive, 'sans-serif'; 
        font-size: 2rem;
    }
    &_icone{
        font-size: 1.7rem;
        margin: 2rem 0;
    }
}
// Zone plats
.dishArea{
    &_title{
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 3rem;
    }
    &_hr{
        justify-self: start;
        border: initial;
        display: inline-block;
        height: 0.15rem;
        width: 3rem;            
        background-color: $terColor;
    }
}
@media screen and (min-width: $tabSize){
    .dishArea{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;        
        margin: 2rem auto;
        max-width: 70rem;
        justify-content: center;
        &_title{
            font-size: 1.7rem;
            grid-area: 1/1/2/4;
            position: relative;
            z-index: 1;
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 3rem;
                z-index: -1;
                border-bottom: 0.5rem solid $terColor;
            }
        }
        &_hr{  
            display: none;
        }
    }
}
@media screen and (min-width: $desktopSize){
    .main{       
        &--folieMericourt{            
            &::before{
                background-image: url("../medias/restaurants/folieMericourt.jpg");
            }
            &::after{
                background-image: url("../medias/restaurants/folieMericourt.jpg");
            }
        }
        &--charonne{            
            &::before{
                background-image: url("../medias/restaurants/charonne.jpg");
            }
            &::after{
                background-image: url("../medias/restaurants/charonne.jpg");
            }
        }
        &--melimontant{            
            &::before{
                background-image: url("../medias/restaurants/melimontant.jpg");
            }
            &::after{
                background-image: url("../medias/restaurants/melimontant.jpg");
            }
        }
        &--citeRouge{            
            &::before{
                background-image: url("../medias/restaurants/citeRouge.jpg");
            }
            &::after{
                background-image: url("../medias/restaurants/citeRouge.jpg");
            }
        }
    }
    .menu_title{
        margin-top: initial;
        grid-area: title;
    }
    .dishArea{
        width: 100%;
        &:nth-of-type(1){
            grid-area: dish1;
        }
        &:nth-of-type(2){
            grid-area: dish2;
        }
        &:nth-of-type(3){
            grid-area: dish3;
        }
    }
    .restaurant_submitArea{
        grid-area: button;
    }
}