.header{
   &--menu{
        position: fixed;
        height: 20rem;
        width: 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top;
        background-size: 150%;
   }
   &--citeRouge{
       background-image: url("../medias/restaurants/citeRouge.jpg");
   }
   &--melimontant{
    background-image: url("../medias/restaurants/melimontant.jpg");
    }
    &--charonne{
        background-image: url("../medias/restaurants/charonne.jpg");
    }
    &--folieMericourt{
        background-image: url("../medias/restaurants/folieMericourt.jpg");
    }
}
@media screen and(min-width: $desktopSizeXL){
    .header{
        &--menu{
            display: none;
        }
    }
}