/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 1000px) {
  .body--home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "nav nav" "header header" "restaurantArea fonction" "footer footer";
  }
  .body--home .nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: nav;
  }
  .body--home .header {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  .body--home .fonction {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: fonction;
  }
  .body--home .restaurantArea {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: restaurantArea;
  }
  .body--home .footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
}

.nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
}

.nav_title {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0 0.1rem 0.5rem #bfbfbf;
          box-shadow: 0 0.1rem 0.5rem #bfbfbf;
  font-family: 'Shrikhand', cursive, 'sans-serif';
}

.footer {
  padding: 1.5rem;
  background-color: #404040;
  color: #ffffff;
}

.footer_title {
  margin-bottom: 1rem;
  font-family: 'Shrikhand', cursive, 'sans-serif';
  font-size: 1.2rem;
}

.footer_link {
  display: block;
  margin: 0.5rem 0;
}

.footer_icone {
  margin-right: 0.5rem;
}

@media screen and (min-width: 700px) {
  .footer {
    margin-top: 3rem;
  }
  .footer_section {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
  .footer_section * {
    text-align: center;
    margin: initial;
  }
  .footer_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

.header {
  padding-bottom: 2rem;
  text-align: center;
  background-color: #f2f2f2;
}

.header_location {
  margin-bottom: 2.5rem;
  padding: 1rem 0;
  background-color: #ebebeb;
  color: #333333;
  font-weight: 600;
}

.header_location_icone {
  margin-right: 1rem;
}

.header_title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 2rem;
}

.header_catchphrase {
  padding: 0 1rem;
  color: gray;
}

.fonction {
  padding: 1.5rem 1.5rem;
}

.fonction_title {
  text-align: left;
  margin: 1rem 0 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.fonction_info {
  padding: 1.3rem 0 1.3rem 2rem;
  position: relative;
  margin: 1rem 0 1rem 0.5rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem #d9d9d9;
          box-shadow: 0 0.5rem 0.5rem #d9d9d9;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.fonction_info_number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: -0.8rem;
  top: 1rem;
  background-color: #9256dc;
  color: #ffffff;
  font-size: 0.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fonction_info_title {
  font-weight: 600;
}

.fonction_info_icone {
  color: #666666;
  font-size: 1.3rem;
  margin-right: 2rem;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .fonction {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 2rem;
  }
  .fonction_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

.restaurantArea {
  background-color: #f2f2f2;
  padding: 1.5rem 1.5rem;
}

.restaurantArea_title {
  text-align: left;
  margin: 1rem 0 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.restaurantArea_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15rem;
  margin: 1rem 0;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0.5rem 0.5rem #d9d9d9;
          box-shadow: 0 0.5rem 0.5rem #d9d9d9;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.restaurant_novelty {
  margin: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: #98e2cf;
  color: #2c9c7f;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.restaurant_novelty--hide {
  visibility: hidden;
}

.restaurant_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
}

.restaurant_title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.restaurant_location {
  font-weight: 300;
}

.restaurant_icone {
  font-size: 1.2rem;
}

.restaurant_icone--selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#9256dc), to(#ff79da));
  background: linear-gradient(#9256dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9256dc;
}

.restaurant_menilmontant {
  background-image: url("../medias/restaurants/menilmontant.jpg");
}

.restaurant_charonne {
  background-image: url("../medias/restaurants/charonne.jpg");
}

.restaurant_citeRouge {
  background-image: url("../medias/restaurants/citeRouge.jpg");
}

.restaurant_folieMericourt {
  background-image: url("../medias/restaurants/folieMericourt.jpg");
}

@media screen and (min-width: 700px) {
  .restaurantArea {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-gap: 1rem;
    background-color: #ffffff;
  }
  .restaurantArea_title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/1/3;
  }
  .restaurantArea_restaurant {
    margin: initial;
  }
}

.button {
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9256dc));
  background: linear-gradient(#ff79da, #9256dc);
  -webkit-box-shadow: 0 0.2rem 0.5rem #cccccc;
          box-shadow: 0 0.2rem 0.5rem #cccccc;
  color: #f2f2f2;
  letter-spacing: 0.025rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
/*# sourceMappingURL=main.css.map */